@use 'sass:math';
@import '../../../styles/colorPalette';

.secondary-btn {
	background: transparent;
	color: $font-light;

	height: 48px;
	width: 140px;

	border: 2px solid $font-light;
	border-radius: 15px;
	font-size: 20px;

	transition: 500ms ease-out;

	&:hover {
		box-shadow: inset 140px 48px 1px 0px $font-light;
		color: $primary;
		cursor: pointer;
	}
}
