@import '../../../styles/colorPalette';

.trigger {
	position: relative;
	background-color: $primary-light;
	width: 377px;
	height: 76px;

	cursor: pointer;
	border-radius: 13px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	z-index: 1;

	.header {
		width: 100%;
		height: 100%;

		padding: 0 22px 0 22px;

		display: flex;
		align-items: center;
		justify-content: space-between;

		font-size: 27px;
		color: $font-title;

		.icon {
			width: 39px;
			height: 39px;
		}
	}

	.dropdown {
		position: absolute;
		width: 377px;
		min-height: 341px;

		transform: translateY(5%);
		border-radius: 13px;

		overflow: hidden;

		pointer-events: none;

		.menu {
			border-radius: 13px;
			width: 100%;
			height: 100%;

			display: flex;
			align-items: center;
			justify-content: center;

			transform: translateY(-101%);
			transition: 500ms ease-out;

			background-color: $primary-light;
			padding: 22px;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: column;
				gap: 14px;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;

				li {
					width: 339px;
					height: 59px;

					display: flex;
					align-items: center;
					justify-content: flex-start;

					padding: 0 14px 0 14px;

					background-color: whitesmoke;

					border-radius: 5px;
					font-size: 24px;
					color: $font-main;
				}

				li.active {
					background-color: rgba($primary, 0.45);
					border: 2px solid $primary;
				}
			}

			.error-message {
				font-size: 24px;
				color: $tertiary;
			}
		}

		.menu.active {
			transform: translateY(0%);
			pointer-events: all;
		}
	}

	.dropdown.active {
		z-index: 1;
		pointer-events: all;
	}

	transition: 500ms;

	&:hover {
		cursor: pointer;
		scale: 1.05;
	}
}
