@import '../../styles/colorPalette';

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	margin-top: 250px;
}

.container {
	.main-info {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;
		justify-content: space-between;
        margin-top: 10px;

		.name {
			font-weight: 700;
			font-size: 26px;
			color: $font-title;
		}

		.type {
			font-weight: 400;
			font-size: 26px;
			color: $font-gray-title;
		}

		.brand {
			font-weight: 400;
			font-size: 26px;
			color: $font-title;
		}
	}

	.content {
		display: flex;
		margin-top: 20px;

		.first-column {
			.image-container {
				position: relative;
				width: 424px;
				height: 445px;
				border-radius: 12px;

				box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

				img {
					object-fit: cover;

					border-radius: inherit;
					width: 424px;
					height: 445px;

					z-index: -1;
				}
			}

			.first-column-additional {
				margin: 20px 0 20px 0;
				padding: 0 15px 0 15px;

				width: 424px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.price {
					display: flex;
					align-items: center;

					color: $font-gray;
					font-size: 22px;

					span {
						font-weight: 800;
						color: $font-gray-title;
					}

					svg {
						margin: 0 0 2px 2px;
					}
				}

				.rating {
					display: flex;
					align-items: center;

					color: $font-gray;
					font-size: 22px;

					span {
						font-weight: 800;
						color: $font-gray-title;
					}

					svg {
						margin: 0 0 2px 2px;
					}
				}
			}
		}

		.second-column {
			width: 100%;
			padding-left: 15px;

			display: flex;
			flex-direction: column;

			.description {
				margin-top: 15px;

				h3 {
					font-weight: 600;
					font-size: 22px;
					color: $font-title;
				}

				p {
					font-size: 22px;
				}
			}

			.characteristics {
				h3 {
                    margin-top: 20px;
                    
					font-weight: 600;
					font-size: 22px;
					color: $font-title;
				}
			}

			.info-container {
				display: flex;
				gap: 16px;
				margin-top: 12px;

				.info-title {
					font-weight: 600;
					font-size: 22px;
					color: black;

					width: 355px;
					height: 71px;
					background-color: $primary-light;
					box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
					border-radius: 13px;

					padding: 0.5em;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;

                    svg {
                        color: $icons-gray;
                    }
				}

				.info-description {
					font-weight: 600;
					font-size: 22px;
					color: black;

					width: 252px;
					height: 71px;
					box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
					background-color: $font-light;

					padding: 0.5em;
					border: 1px solid #000000;
					border-radius: 13px;

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;
				}
			}


		}
	}
}
