$primary: #5878A9;
$primary-light: #ADD1DF;
$secondary: #FFFFFF7F;
$tertiary: #CA3142;

$font-light: #F5F5F5;
$font-title: #404242;
$font-main: #000000;
$font-gray: rgba(45, 146, 146, 0.8);
$font-gray-title: #808080;

$icons-gray: #545454;