$primary: #5878a9;
$primary-light: #add1df;
$secondary: #ffffff7f;
$tertiary: #ca3142;

$font-light: #f5f5f5;
$font-title: #404242;
$font-main: #000000;
$font-gray: rgba(45, 146, 146, 0.8);
$font-gray-title: #808080;

$icons-gray: #545454;
