@import '../../styles/colorPalette';

.container {

    display: flex;
    flex-direction: column;

	h2 {
		color: $font-title;

		font-weight: normal;
		font-size: 32px;
		margin-top: 10px;
	}

    .vehicles-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 41px;
        margin-top: 50px;
    }
}
