@import '../../styles/colorPalette';

.container {
	display: flex;
	flex-direction: column;

	h2 {
		color: $font-title;

		font-weight: normal;
		font-size: 30px;
		margin-top: 10px;
	}

	.vehicles-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 32px;
		margin-top: 40px;
	}
}
