@import '../../styles/colorPalette';

.global-container {
	margin-top: 25px;

	hr {
		margin-top: 25px;
	}

	.container {
		display: flex;

		.image-container {
			position: relative;

			width: 226px;
			height: 226px;

			border-radius: 8px;
			box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

			img {
				height: 226px;
				width: 226px;

				object-fit: cover;
				border-radius: inherit;

				z-index: -1;
			}
		}

		.info {
			display: flex;
			flex-direction: column;

			width: 100%;
			height: 226px;

			.main {
				width: 100%;

				display: flex;
				justify-content: space-between;

				padding: 0 20px 0 20px;

				.name {
					font-weight: 800;
					font-size: 26px;
					color: $font-title;

					&:hover {
						cursor: pointer;
						text-decoration: underline;
					}
				}

				.type {
					font-size: 26px;
					color: $font-gray-title;

					&:hover {
						cursor: pointer;
					}
				}

				.brand {
					font-size: 26px;
					color: $font-title;

					&:hover {
						cursor: pointer;
					}
				}
			}

			.secondary {
				margin-top: 8px;
				display: flex;
				font-weight: 700;
				font-size: 16px;

				.rating-container {
					min-width: 104px;

					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: 4px;

					padding-left: 20px;
					color: $font-gray;
				}

				.price-container {
					min-width: 123px;

					display: flex;
					align-items: center;
					justify-content: center;
					gap: 4px;

					padding-left: 20px;
					color: $font-gray;
				}
			}

			.description {
				margin-top: 20px;
				width: 100%;
				padding-left: 20px;

				header {
					color: $font-title;
					font-size: 24px;
					font-weight: 700;
				}

				.description-content {
					height: 115px;
					overflow: scroll;
					font-size: 20px;
				}
			}
		}
	}
}

.global-container:first-of-type {
	margin-top: 0;
}
