@import '../../styles/colorPalette';

.trigger {
	position: relative;
	background-color: $primary-light;
	width: 444px;
	height: 89px;

	cursor: pointer;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	.header {
		width: 100%;
		height: 100%;

		padding: 0 26px 0 26px;

		display: flex;
		align-items: center;
		justify-content: space-between;

		font-size: 32px;
		color: $font-title;

		.icon {
			width: 46px;
			height: 46px;
		}
	}

	.dropdown {
		position: absolute;
		width: 444px;
		min-height: 401px;

		transform: translateY(5%);
		border-radius: 15px;

		overflow: hidden;

		pointer-events: none;

		.menu {
			border-radius: 15px;
			width: 100%;
			height: 100%;

			display: flex;
			align-items: center;
			justify-content: center;

			transform: translateY(-100%);
			transition: 500ms ease-out;

			background-color: $primary-light;
			padding: 26px;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: column;
				gap: 16px;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;

				li {
					width: 403px;
					height: 68px;

					display: flex;
					align-items: center;
					justify-content: flex-start;

					padding: 0 16px 0 16px;

					background-color: whitesmoke;

					border-radius: 5px;
					font-size: 28px;
					color: $font-main;
				}
			}
		}

		.menu.active {
			transform: translateY(0%);
			pointer-events: all;
		}
	}

	.dropdown.active {
		z-index: 1;
		pointer-events: all;
	}

	transition: 500ms;

	&:hover {
		cursor: pointer;
        scale: 1.05;
	}
}
