@import '../../../styles/colorPalette';

.primary-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 271px;
    height: 80px;

    background: $primary;
    border-radius: 15px;
    border: none;

    font-weight: 500;
    color: $font-light;

    font-size: 25px;

    transition: 500ms ease-out;
    
    &:hover {
        transform: translateY(-4px);
        box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
    }
}
